name: Sync Image to Aliyun  Example

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Git pull
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.9.1

    - name: Login to Docker Hub
      uses: docker/login-action@v2.2.0
      with:
        registry: registry.cn-hangzhou.aliyuncs.com
        username: libiao_com@aliyun.com
        password: nande1jian
        logout: false

    - name: Use Skopeo Tools Sync Image to Docker Hub
      run: |
         skopeo copy docker://docker.io/hslr/sun-panel:1.4.0 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/sun-panel:1.4.0
         skopeo copy docker://docker.io/grafana/loki:2.9.2 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/loki:2.9.2
         skopeo copy docker://docker.io/grafana/promtail:2.9.2 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/promtail:2.9.2
         skopeo copy docker://docker.io/grafana/grafana:latest docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/grafana:latest
         skopeo copy docker://docker.io/k8sminikube/storage-provisioner:v1.8.1  docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/storage-provisioner:v1.8.1
         skopeo copy docker://docker.io/cnagent/etcd:3.5.6-0  docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/etcd:3.5.6-0
         skopeo copy docker://docker.io/cnplat/kube-scheduler:v1.22.7  docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/kube-scheduler:v1.22.7
         skopeo copy docker://docker.io/cnplat/kube-controller-manager:v1.21.10 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/kube-controller-manager:v1.21.10
         skopeo copy docker://docker.io/coredns/coredns:1.11.3 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/coredns:1.11.3
         skopeo copy docker://docker.io/rancher/pause:3.6 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/pause:3.6
         skopeo copy docker://docker.io/rancher/kube-proxy:v1.18.8  docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/kube-proxy:v1.18.8
         skopeo copy docker://docker.io/rancher/kube-apiserver:v1.2.0-alpha.8-rancher-3 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/kube-apiserver:v1.2.0-alpha.8-rancher-3
         skopeo copy docker://docker.io/flannel/flannel:v0.25.6  docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/flannel:v0.25.6
         
      # 使用 skopeo 工具将镜像同步到阿里云个人仓库中，使用时请自行源和目标修改仓库名称和镜像名称
