name: Sync Image to Aliyun  Example

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Git pull
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.9.1

    - name: Login to Docker Hub
      uses: docker/login-action@v2.2.0
      with:
        registry: registry.cn-hangzhou.aliyuncs.com
        username: libiao_com@aliyun.com
        password: nande1jian
        logout: false

    - name: Use Skopeo Tools Sync Image to Docker Hub
      run: |
         skopeo copy docker://docker.io/hslr/sun-panel:1.4.0 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/sun-panel:1.4.0
         skopeo copy docker://docker.io/grafana/loki:2.9.2 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/loki:2.9.2
         skopeo copy docker://docker.io/grafana/promtail:2.9.2 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/promtail:2.9.2
         skopeo copy docker://docker.io/grafana/grafana:latest docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/grafana:latest
         skopeo copy docker://docker.io/gcr.io/k8s-minikube/storage-provisioner:v5 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/storage-provisioner:v5
         skopeo copy docker://docker.io/registry.k8s.io/etcd:3.5.6-0 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/etcd:3.5.6-0
         skopeo copy docker://docker.io/registry.k8s.io/kube-scheduler:v1.26.1 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/kube-scheduler:v1.26.1
         skopeo copy docker://docker.io/registry.k8s.io/kube-controller-manager:v1.26.1 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/kube-controller-manager:v1.26.1
         skopeo copy docker://docker.io/registry.k8s.io/coredns/coredns:v1.9.3 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/coredns:v1.9.3
         skopeo copy docker://docker.io/registry.k8s.io/pause:3.9 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/pause:3.9
         skopeo copy docker://docker.io/registry.k8s.io/kube-proxy:v1.26.1 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/kube-proxy:v1.26.1
         skopeo copy docker://docker.io/registry.k8s.io/kube-apiserver:v1.26.1 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/kube-apiserver:v1.26.1
         skopeo copy docker://docker.io/java:openjdk-8 docker://registry.cn-hangzhou.aliyuncs.com/biaobiaobiao/java:openjdk-8
      # 使用 skopeo 工具将镜像同步到阿里云个人仓库中，使用时请自行源和目标修改仓库名称和镜像名称